# Rust
target

# Dependencies
node_modules

# Output
out
*.tgz
*.vsix

# Code coverage
coverage
*.lcov

# Logs
logs
*.log

# Environment
.env
.env.*.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.DS_Store
.vercel

# Generated data files
*.rx
*.rexc

# Build config/artifacts
.cargo
*.node
*.dylib
*.so
*.cpuprofile
